@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$font-family-jakarta: 'Plus Jakarta Sans', sans-serif;
$font-family-playfair: 'Playfair Display', serif;

$font-family-base: $font-family-jakarta;
$body-color: #333333;

@import "../node_modules/bootstrap/scss/maps";

$custom-utilities-colors: (
  "maroon": #b0464a,
  "beige": #fff0dd,
  "light-dark": $body-color
);

$theme-colors: map-merge($theme-colors, $custom-utilities-colors);
$utilities-bg-colors: map-merge($utilities-bg-colors , $custom-utilities-colors);
$utilities-text-colors: map-merge($utilities-bg-colors , $custom-utilities-colors);

$custom-spacers: (
  6: $spacer * 3.5,
  //56px
  7: $spacer * 4,
  // 64px
  8: $spacer * 4.5,
  // 72px
  9: $spacer * 5,
  // 80px
  10: $spacer * 6,
  // 96px
  11: $spacer * 8,
  // 128px
  12: $spacer * 10,
  // 160px
  13: $spacer * 12,
  // 192px
  14: $spacer * 16,
  // 256px
);
$spacers: map-merge($spacers, $custom-spacers);

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "font-family": map-merge(
      map-get($utilities, "font-family"),
      (
        values: map-merge(
          map-get(map-get($utilities, "font-family"), "values"),
          (
            "jakarta": var(--#{$prefix}font-jakarta),
            "playfair": var(--#{$prefix}font-playfair)
          ),
        ),
      ),
    ),
    
    "color": map-merge(
      map-get($utilities, "color"),
      ( responsive: true ),
    ),

    "border-bottom": map-merge(
      map-get($utilities, "border-bottom"),
      ( responsive: true ),
    ),

    "border-end": map-merge(
      map-get($utilities, "border-end"),
      ( responsive: true ),
    ),

    "width": (
      property: width,
      class: w,
      responsive: true,
      values: (
        25: 25%,
        40: 40%,
        50: 50%,
        60: 60%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
  )
);

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --#{$prefix}font-jakarta: #{inspect($font-family-jakarta)};    
    --#{$prefix}font-playfair: #{inspect($font-family-playfair)};        
}

main {
  --navbar-height: 78px;

  @include media-breakpoint-up('md') {
    --navbar-height: 80px;
  }
}

.container-fluid {
  --bs-gutter-x: 6%;
}

#home {
  /* .bg-beige {
    > * {
      @include media-breakpoint-up('lg') {
        width: 50%;
      }
    }
  } */
}